@{
    ViewBag.Title = "About";
}
<h2>Informacje</h2>
<h4 style="        width: 60%;
        text-align: justify;">
    GryfApp to aplikacja do umawiania się na wsólne treningi. Dodawanie i przeglądanie terminów w formularzu pozwala na
    szybkie zaplanowanie treniengu bez konieczności uzgadniania terminu z każdym z poszczególnych znajomych.</h4>
<p style="        width: 60%;
        text-align: justify;">
    Aplikacja powstała jedynie dla wąskiego grona wspólnych znajomych uczęszczających na siłownię Gryf 
    i jest amatroskim projektem wykonanym zarówno w celu planowania treningów jak i poprawy umiejętności pisania aplikacji internetowych.</p>
