
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
</body>