<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
@{
    ViewData["Title"] = "Error";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Wszystkie dane muszą zostać wprowadzone przed przesłaniem wpisu!</h1>
    </div>

    <center>
        <button onclick="location.href='@Url.Action("Create", "Record")'">
            Wróć
        </button>
    </center>
</body>

<script src="~/js/user.js"></script>