@model IEnumerable<Record>
@{
    ViewData["Title"] = "Index";
}

<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

<body>
    <div id="recordsDiv">
        <center>
            <h1>Lista terminów</h1>
            <input type="button" class="btn btn-lg btn-success" value="Dodaj" onclick="location.href='@Url.Action("Create", "Record")'" />
            <h1></h1>
        </center>

        <table class="table">
            <tbody>
                <!--Dla wszystich kart w liscie-->
                @foreach (var model in Model)
                {
                    <tr style="color:lawngreen">
                        <td>
                            @Html.DisplayFor(modelitem => model.userName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => model.userDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => model.userParts)
                        </td>
                        @{ if (ViewBag.UserId != null)
                            {
                                if (ViewBag.UserId == model.userId)
                                {
                                    <td><button class="btn btn-sm btn-dark">Usuń</button></td>
                                }
                            }
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>

<script src="~/js/user.js"></script>