@model IEnumerable<Record>
@{
    ViewData["Title"] = "Index";
}


<body>
    <center>
        <h1>Lista terminów</h1>
        <input type="button" class="btn btn-lg btn-success" value="Dodaj" onclick="location.href='@Url.Action("Create", "Record")'" />
        <h1></h1>
    </center>

    <table class="table">
        <tbody>
            <!--Dla wszystich kart w liscie-->
            @foreach (var model in Model)
            {
                <tr style="color:lawngreen">
                    <td>
                        @Html.DisplayFor(modelitem => model.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => model.userDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => model.userParts)
                    </td>
                    @{ if (ViewBag.UserId != null)
                        {
                            if (ViewBag.UserId == model.userId)
                            {
                                <td><button class="btn btn-sm btn-dark">Usuń</button></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>

    </table>
</body>