@model GryfApp_Web.Models.User

<h1>Logowanie</h1>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="container">

        <label for="uname"><b>Username</b></label>
        @Html.TextBoxFor(model => model.email)

        <label for="psw"><b>Password</b></label>
        @Html.TextBoxFor(model => model.pss)
        <input type="submit" value="login" />

    </div>
}